html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    /*font-family: "arial";*/
}
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */




/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */




.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    min-height: 100%;
    flex: 1 1 auto;
}
header{
    margin: 0 auto;
}
.navbar{
    margin: 0 auto;
    /*width: 80%;*/
    width: 1000px;
    margin-top: 10px;
    margin-left: -10px;
    background-color: lightblue;
}
.clearfix{
    content: "";
    display: table;
}

/* Лого КТ */
.wrapper_header_block_img{
    float: left;
}
/* блоки хедера справа от логотипа */
.wrapper_header_blocks{
    float: left;
    margin-left: 7%;
    /*background-color: red;*/
}
/* верхняя часть хедера (картинка + регион + телефоны) */
.wrapper_header_block_1{
    width: 800px;
    /*background-color: yellow;*/
}

/* верхняя часть хедера (картинка) */
.wrapper_header_block_1_1{
    padding-top: 2%;
    width: 330px; /* 230px */
    float: left;
    /*background-color: red;*/
}
/* Размер картинки в блоке */
.wrapper_header_block_1_1 img{
    width: 230px;
}
/* верхняя часть хедера (регион + телефоны) */
.wrapper_header_block_1_2{
    margin-left: 60%;
    /*background-color: lightgreen;*/
}
/* верхняя часть хедера (регион) */
.region {
    width: 100px;
    padding-top: 6.5%;
    padding-left: 2%; /* 14% */
    float: left;
}
.region a{
    text-decoration: 1px underline dashed;
    text-underline-offset: 2px;
    text-underline-position: right;
    color: #D61A0C;
}
.office_number{
    text-decoration: none;
    color: #000;
}
.office_number_big{
    font-size: 16px;
    font-weight: bold;
}
.office_number:hover{
    text-decoration: underline;
    color: #D61A0C;
}

select {
   /*margin: 50px;
   background: transparent;
   width: 150px;
   padding: 5px 35px 5px 5px;
   font-size: 16px;
   height: 34px;*/
   border: 1px solid #111;
   border: 1px solid #ccc;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) {
    select {
        background:none;
        padding: 5px;
    }
}
/* верхняя часть хедера (телефоны) */
.tel_numb{
    width: 180px;
    padding-top: 6%;
    margin-left: 3.5%;
    float: right;
    font-size: 17px;
    border: none;
}

.tel_numb a{
    text-decoration: none;
    color: black;
}
.tel_numb a span span{
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}
/* разделительная линия в хедере */
.hr_header{
    border: 0.15px solid rgba(48,48,48,0.1);
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
/* нижняя часть хедера */
.wrapper_header_block_2 table{
    margin: 0 auto;
}
.brdr{
    border-right: 2px dotted grey;
}
.brdr a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* блок с текстом и поиском */
.wrapper_index{
    width: 80%;
    margin: 0 auto;
}
/* блок с словом и кнопкой "запросить ставку" */
.wrapper_top{
    display: block;
    float: left;
    background-color: #fff;
    margin-top: 55px;

    height: 50px;
    border-color: red #fff #fff; /* Цвет границы */
    border-style: solid; /* Стиль границы */
}
.inner_wrapper{
    width: 1000px;
    margin: 0 auto;
    /*background-color: lightblue;*/
}

.block_name{
    float: left;
    background-color: #fff;
    margin-top: -45px;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 25px;
    font-family: Arial, sans-serif;
}
.block_link{
    background-color: #fff;
    width: 23%;
    margin-top: -23px;
    margin-left: 70%;
    padding-left: 2%;
    padding-right: 0.5%;
}
.block_link button{
    background-color: #d8190b;
    border-color: #d8190b;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 3px solid #93130a;
    border-radius: 5px;
    box-shadow: none;
    padding: 9.5px 19px 8px;
}

.block_link button a{
    color: #fff;
    font-size: 16px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
}
.block_link button:hover{
    background-color: #93130a

}

.descr_text{
    margin-top: 3%;
    display: block;
}

.tnved_enter_code{
    margin-top: 3%;
}


/* поле поиска + кнопка */
fieldset{
    border-color: red;
}
.tnved_enter_code_form_inputs{
    padding-left: 5%;
}
.form-control{
    width: 55%;
}
.search_block{
    transform: translateY(10%); /* трансформируем элемент */
}
.srch_btn{
    width: 100px; /* 115 */
	height: 23px;
	background-color: #fff;
	color: rgb(210, 0, 0);
	border-radius: 4px;
	border-color: rgb(210, 0, 0);
	margin-left: 1%;
}
.srch_btn:hover{
    background-color: rgb(210, 0, 0);
    color: #fff;
    transition: 0.5s;
}
::placeholder {
    color: rgba(64, 64, 64, 0.7);
    font-size: 12px;
}



.2nd_block{
    margin: 0 auto;
}
.countries_against_RU{
    width: 48%;
    display: block;
    float: left;
    margin-top: 2.5%;
}
.countries_against_RU p{
    text-align: center;
}

.countries_against_RU_list li{
    padding-top: 3px;
    margin-left: 7%;
}
.RU_against_countries{
    width: 48%;
    display: block;
    float: left;
    margin-top: 2.5%;
}
.RU_BY_restrictions_list{
    margin-left: -6.5%;
}
.RU_BY_restrictions_list p{
    margin-bottom: 9.5%;
    text-align: center;
}

.RU_BY_restrictions_list li{
    margin-left: 7%;
}


.sanctions-index-list{
    list-style-type: none; /* Убираем маркеры у списка */
}
.sanctions-index-list:before{
    content: "- ";
}
.country_links{
    text-decoration: none;
    color: black;
}
.country_links:hover{
    color: red;
    transition: 0.3s;
    /*font-size: 16px;*/
    /*font-weight: bold;*/
}



/* footer */
footer{
    width: 100%;
    background-color: #F6F5F4;
}
.footer-wrapper{
    margin: 0 auto;
    width: 80%;

}
.middle4-article article{
    padding-top: 2%;
    padding-bottom: 1%;
    border: none; /* 1px solid #d3d3d2 */
    width: 19%; /* 22.32% */
    margin-left: 3%; /* 3.55%/2 */
    /*margin-right: 3%; /* 3.55%/2 */
    float: left;
}
.foot-text{
    color: #8D918D;
    font-size: 13px;
}
.foot-text-line{
    margin-bottom: -4%;
}
.footer-phone{
    margin-bottom: -4%;
    text-align: center;
}
.footer-phone a{
    color: #8D918D;
    text-decoration: none;
}
.footer-email{
    text-align: center;
}
.footer-email a{
    color: #3475BF;
}
.footer-email a:hover{
    color: red;
    transition: 0.3s;
}




/* */
.table_sanctions caption{
    border: 1px solid rgba(64, 64, 64, 0.5);
    border-bottom: None;
    background-color: rgb(210, 0, 0);
    color: #fff;
}
.table_header td{
    font-size: 12px;
    text-align: center;
    color: #fff /*#040546*/;
    border: 1px solid rgba(64, 64, 64, 0.5);
    border-collapse: collapse;
    /*background-color: #FF0000;*/
    background-color: rgb(210, 0, 0);
}

.table_sanctions{
    margin: 0 auto;
    border: 1px solid rgba(64, 64, 64, 0.5);
    border-collapse: collapse;
}
tr{
    background-color: #fff;
}
tr:hover{
    background-color: rgba(240, 128, 128, 0.3);
}
.table_sanctions tr td{
    border: 1px solid rgba(64, 64, 64, 0.5);
    border-collapse: collapse;
    padding: 3.5px;
    max-width: 170px;
    width: auto;
}
.outer{
   font-size: 11px;
}
.search_comments{
    margin-left: 2.5%;
    /*font-style: italic;*/
}

.header_vl_right{
    border-right: 1px dashed black;
    height: 20px;
    width: 14%; /* 12.3% */
    text-align: center;
    float: left;
}

.header_vl_right a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 14px;
}
.header_vl_right a:hover{
    color: #D61A0C;
}

.header_vl_left{
    /*border-left: 1px dashed black;*/
    height: 20px;
    width: 14%; /* 23.5% */
    text-align: center;
    float: left;
}
.header_vl_left a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 14px;
}
.header_vl_left a:hover{
    color: #D61A0C;
}
/* выпадающее меню */
.dropbtn {
    background-color: #fff;
    /*color: white;*/
    /*padding: 16px;*/
    font-size: 14px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1; /* #f1f1f1 */
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}
.dropdown-content ul{
    text-decoration: none;
    list-style: none;
    /*margin-top: 0;*/

}
.dropdown-content-list > li {
    margin-left: -40px;
}
.dropdown-content-list > li > a > img{
    width: 12px;
    height: 12px;
    padding-top: 1.5%;
    float: right;
}
.dropdown-content-list > li > a {
    color: #3475BF;
    padding: 3px 20px;
    text-decoration: none;
    display: block;
    font-weight: Normal;
    font-size: 14px;
    text-align: left;
    text-decoration: underline;
}
.dropdown-content-list > li > a:hover{
    color: black;
    background-color: #fff;
}

.dropdown-content-sub-list > li {
    margin-left: -40px;

}
.dropdown-content-sub-list{
    position: absolute;
    top: 0;
    left: 100%;
    margin-top: 2%; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    margin-bottom: 5%;
    /*padding: 0px 0px 0px 5px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 250px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content-sub-list > li > a{
    display: block;
    color: #3475BF;
    padding: 3px 20px;
    text-decoration: none;
    font-weight: Normal;
    font-size: 14px;
    text-align: left;
    text-decoration: underline;
}

.dropdown-content-sub-list > li > a:hover{
    color: black;
    background-color: #fff;
}
.dropdown-content-sub-list{
    display: none;
}
.dropdown-content-list > li:hover .dropdown-content-sub-list{
    display: block;
}

.srvc_bl_2{
    margin-top: 12%;
}
.srvc_bl_3{
    margin-top: 20%;
}
.srvc_bl_4{
    margin-top: 25%;
}
.srvc_bl_5{
    margin-top: 37%;
}
.srvc_bl_7{
    margin-top: 55%;
}
.srvc_bl_8{
    margin-top: 64%;
}
.srvc_bl_9{
    margin-top: 72%;
}
.srvc_bl_11{
    margin-top: 90%;
}
.dropdown-content a:hover {
    background-color: #fff;
    text-decoration: underline;
}



.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #fff;}

/* выпадающее меню (конец) */

/* линия футера */
.with-pattern {
  display: inline-block;
  position: relative;
}
.with-pattern:after {
  content: '';
  display: block;
  height: 7px;
  background: url("../img/footer_line_2.png") repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .5;
  /* Наложение пропускает клики сквозь себя */
  pointer-events: none;
}
img {
  /* Для демонстрации */
  vertical-align: middle;
}
/* линия футера (конец) */

.social_network_links{
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
.social_network_links li{
    display: inline-block;
    padding-right: 5%;
}



.social_network_links_img {
    width: 19px;
    height: 19px;
    margin-left: 3%;
    margin-right: 3%;
    opacity: .5;
}

.social_network_links_img:hover {
    opacity: 1;
}




