{% extends 'tn_ved_main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block main_content %}

    <h1>Проверка кодов ТН ВЭД на введенные санкции</h1>

    <div class="wrapper">
        <div class="1st_block">
            <div class="tnved_enter_code">
<!--                <form action="{% url 'search_results' %}" method="get">-->
<!--                    {% csrf_token %}-->
<!--                  <input name="q" type="text" placeholder="Введите код">-->
<!--                </form>-->
                <!-- !!!!!!!!!!!! -->
                <form method="get" action="{% url 'search_results' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        <div>
                            <label class="tnved_enter_code_form_inputs">
                                <span><strong>Введите проверяемый код ТН ВЭД:</strong></span>
                                <input type="text" class="form-control"
                                       style="width: 200px" name="q" placeholder="Введите код"> <!-- form-control -->
                            </label>
                            <button type="submit" class="reg_btn">Проверка</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <hr>
        <div class="2nd_block">
            <div>
<!--                <h4>Результаты проверки:</h4>-->
            </div>
        </div>
    </div>

{% endblock %}
