{% extends 'tn_ved_main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block main_content %}

    <div class="wrapper_index">

        <div class="text">
            <h4>Перечень подсанкционных товаров, по которым введены ограничения
                недружественными странами <br> (с указанием кодов ТН ВЭД)</h4>

            <p>Списки подсанкционных товаров подготовлены Центром экспертизы ВТО по правовым актам
                правительств ЕС, США, Великобритании, Сингапура, Швейцарии, Канады и Австралии и
                обновляются по мере поступления и изменения информации.</p>

<!--            <p>Перечни с соответствующими кодами ТН ВЭД приведены по состоянию на 21.03.2022 г.</p>-->
        </div>

        <div class="1st_block">
            <div class="tnved_enter_code">
<!--                <form action="{% url 'search_results' %}" method="get">-->
<!--                    {% csrf_token %}-->
<!--                  <input name="q" type="text" placeholder="Введите код">-->
<!--                </form>-->
                <!-- !!!!!!!!!!!! -->
                <form method="get" action="{% url 'search_results' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        <div>
                            <label class="tnved_enter_code_form_inputs">
                                <span><strong>Введите проверяемый код ТН ВЭД
                                     или его описание на рус. или англ. языке:</strong></span>
                                <input type="text" class="form-control"
                                       style="width: 200px" name="q" placeholder="Введите код"> <!-- form-control -->
                            </label>
                            <button type="submit" class="reg_btn">Проверка</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="2nd_block">
            <div class="countries_against_RF clearfix">
                <ul>Список стран (и их ограничения), которые ввели санкции в отношении РФ и РБ:
                    <li>
                        <a href="">Все страны</a>
                    </li>
                    <li>
                        <a href="{% url 'usa_sanctions_list' %}">США</a>
                    </li>
                    <li>
                        <a href="">Великобритания</a>
                    </li>
                    <li>
                        <a href="">ЕС</a>
                    </li>
                    <li>
                        <a href="">Япония</a>
                    </li>
                    <li>
                        <a href="">Швейцария</a>
                    </li>
                    <li>
                        <a href="">Канада</a>
                    </li>
                    <li>
                        <a href="">Австралия</a>
                    </li>
                </ul>
            </div>
            <div class="RF_against_countries clearfix">
                <ul>Ответные ограничения со стороны РФ и РБ:
                    <li>РФ - 311</li>
                    <li>РФ - 312</li>
                    <li>РФ - 313</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
