{% extends 'tn_ved_main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block main_content %}

    <div class="wrapper_index">

        <div class="text">
            <h4>Перечень подсанкционных товаров, по которым введены ограничения
                недружественными странами <br> (с указанием кодов ТН ВЭД)</h4>

            <p>Списки подсанкционных товаров подготовлены Центром экспертизы ВТО по правовым актам
                правительств ЕС, США, Великобритании, Сингапура, Швейцарии, Канады и Австралии и
                обновляются по мере поступления и изменения информации.</p>

<!--            <p>Перечни с соответствующими кодами ТН ВЭД приведены по состоянию на 21.03.2022 г.</p>-->
        </div>

        <div class="1st_block">
            <div class="tnved_enter_code">
<!--                <form action="{% url 'search_results' %}" method="get">-->
<!--                    {% csrf_token %}-->
<!--                  <input name="q" type="text" placeholder="Введите код">-->
<!--                </form>-->
                <!-- !!!!!!!!!!!! -->
                <form method="get" action="{% url 'search_results' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        <div class="search_block">
                            <label class="tnved_enter_code_form_inputs">
                                <span>
                                    <strong>
                                        Ввод информации:
                                    </strong>
                                </span>
                                <input type="text" class="form-control"
                                       name="q"
                                       placeholder="Введите интересующий код или его описание..."> <!-- form-control -->
                            </label>
                            <button type="submit" class="srch_btn">
                                <strong>Проверка</strong>
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="2nd_block">
            <div class="countries_against_RU clearfix">
                <ul class="countries_against_RU_list">
                    <p>
                        Список стран (и их ограничения), которые ввели санкции в отношении РФ и РБ:
                    </p>
                    <li>
                        <a class="country_links" href="{% url 'all_other_sanctions_list' %}">Все страны</a>
                    </li>
                    <li>
                        <a class="country_links" href="{% url 'au_sanctions_list' %}">Австралия</a>
                    </li>
                    <li>
                        <a class="country_links" href="{% url 'uk_sanctions_list' %}">Великобритания</a>
                    </li>
                    <li>
                        <a class="country_links" href="{% url 'eu_sanctions_list' %}">ЕС</a>
                    </li>
                    <li>
                        <a class="country_links" href="{% url 'ca_sanctions_list' %}">Канада</a>
                    </li>
                    <li>
                        <a class="country_links" href="{% url 'usa_sanctions_list' %}">США</a>
                    </li>
                    <li>
                        <a class="country_links" href="{% url 'ch_sanctions_list' %}">Швейцария</a>
                    </li>
                    <li>
                        <a class="country_links" href="{% url 'jp_sanctions_list' %}">Япония</a>
                    </li>
                </ul>
            </div>
            <div class="RU_against_countries clearfix">
                <ul class="RU_BY_restrictions_list">
                    <p>
                        Ответные ограничения со стороны РФ и РБ:
                    </p>
                    <li>
                        <a class="country_links" href="{% url 'ru_311_sanctions_list' %}">
                            РФ №311 - запрещенные для экспорта из РФ товары
                        </a>
                    </li>
                    <li>
                        <a class="country_links" href="{% url 'ru_312_sanctions_list' %}">
                            РФ №312 - разрешительный порядок экспорта товаров из РФ
                        </a>
                    </li>
                    <li>
                        <a class="country_links" href="{% url 'ru_313_sanctions_list' %}">
                            РФ №313 - запрещенные для экспорта из РФ товары
                        </a>
                        <a class="country_links" href="{% url 'list_of_restricted_countries_ru' %}">
                            <strong>в следующие страны (Приложение 1)</strong>
                        </a>
                    </li>
                    <li>
                        <a class="country_links" href="{% url 'by_147_sanctions_list' %}">
                            РБ №147 - запрещенные для экспорта из РБ товары
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
