<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'tn_ved_main/css/tn_ved_main.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'tn_ved_main/img/favicon-32x32.png' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <header class="clearfix">
        <div class="wrapper_header">
            <div class="header_block_0 clearfix">
                <a href="{% url 'home' %}">
                    <img class="header_block_1_img_1" src="{% static 'tn_ved_main/img/Logo_500-500.jpg' %}"
                         alt="logo" width="125" height="125">
                </a>
            </div>
            <div class="header_block_1 clearfix">
                <a href="{% url 'home' %}" class="clearfix">
                    <img class="header_block_1_img_2" src="{% static 'tn_ved_main/img/2.svg' %}"
                         alt="logo">
                </a>
            </div>
            <div class="header_block_2 clearfix">
                <div>Телефон поддержки: 5205</div>
                <!--<div>База обновлена: 00.00.0000</div>-->
            </div>
            <div class="header_block_3 clearfix">
                <div>Проверка кодов ТН ВЭД и CN-кодов на санкционную составляющую</div>
            </div>
        </div>

        <hr class="hr_header_line">

    </header>

    <main>
        {% block main_content %}
        {% endblock %}
    </main>

    <footer class="clearfix">

    </footer>

</body>
</html>