{% extends 'tn_ved_main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block main_content %}


<div class="wrapper_index">

        <h3 style="text-align: center">Перечень товаров запрещенных для экспорта с территории РФ</h3>

        <table class="table_sanctions">

            <tr class="table_header">
                <td>Санкционный <br>код</td>
                <td>Описание кода</td>
                <td>Тип ограничения</td>
                <td>Наименование документа</td>
                <td>Буквенный код страны</td>
                <td>Примечание</td>
            </tr>

            {% for i in ru_311_sanctions_query %}
                <tr>
                    <td class="outer">{{ i.sanctions_tn_ved_code }}</td>
                    <td class="outer">{{ i.sanctions_tn_ved_code_description }}</td>
                    <td class="outer">{{ i.type_of_restrictions }}</td>
                    <td style="text-align: center" class="outer">{{ i.doc_name }}</td>
                    <td style="text-align: center" class="outer">{{ i.sanction_country_iso_alpha_2 }}</td>
                    <td style="text-align: center" class="outer">{{ i.note }}</td>
                </tr>
            {% endfor %}

        </table>

</div>


{% endblock %}