{% extends 'tn_ved_main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block main_content %}



<!--    {'%' for i in us_sanctions_query '%'}-->
<!--        <p>{{ i.sanctions_tn_ved_code }}, {{i.sanctions_tn_ved_code_description_rus }},-->
<!--            {{ i.country_code_2_dig_1side }}</p>-->
<!--    {'%' endfor '%'}-->


<div class="wrapper_index">
    <h3 style="text-align: center">Перечень санкционных кодов введенных США в отношении РФ и РБ</h3>

    <table class="table_sanctions">

        <tr class="table_header">
            <td>Санкционный <br>код</td>
            <td>Описание кода на ин-м</td>
            <td>Описание кода на рус.</td>
            <td>Сторона отправления</td>
            <td>Сторона назначения</td>
            <td>Страна-инициатор санкций</td>
            <td>Экспорт / <br>Импорт</td>
            <td>Примечание</td>
        </tr>

        {% for i in us_sanctions_query %}
            <tr>
                <td class="outer">{{ i.sanctions_tn_ved_code }}</td>
                <td class="outer">{{ i.sanctions_tn_ved_code_description_eng }}</td>
                <td class="outer">{{ i.sanctions_tn_ved_code_description_rus }}</td>
                <td style="text-align: center" class="outer">{{ i.country_code_2_dig_1side }}</td>
                <td style="text-align: center" class="outer">{{ i.country_code_2_dig_2side }}</td>
                <td style="text-align: center" class="outer">{{ i.sanctions_initiator_country_code_2_dig }}</td>
                <td style="text-align: center" class="outer">{{ i.export_import_ru }}</td>
                <td style="text-align: center" class="outer">{{ i.note }}</td>
            </tr>
        {% endfor %}

    </table>

</div>





{% endblock %}